.backgroundColour1 {
    -fx-background-color: linear-gradient(to left, #0c2461, #1e3799, #4a69bd);
}

.backgroundColour2 {
    -fx-background-color: linear-gradient(to left, #0f6aaf,#DAFFFB,#38ada9, #459ddc);
}

.backgroundColour3 {
    -fx-background-color: linear-gradient(to left, #30336b, #0a06ef, #3B3B98);
}

.backgroundColour4 {
    -fx-background-color: linear-gradient(to left, #64CCC5,#DAFFFB,#176B87);
}

/* Add more background colors here */
.backgroundColour5 {
    -fx-background-color: linear-gradient(to left, #e74c3c, #f39c12, #16a085);
}

.backgroundColour6 {
    -fx-background-color: linear-gradient(to left,#0f6aaf,#DAFFFB,#38ada9, #459ddc,#64CCC5,#DAFFFB,#176B87 );
}
.background-pane {
    -fx-background-image: url('/icon/Shopping.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


/* Add more background colors as needed */